<!-- <div *ngIf="productBool">
    <app-product-update [productToUpdate]="selectedProduct" [deneme2]="deneme"></app-product-update>
</div> -->

<div *ngIf="!dataLoaded" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div *ngIf="dataLoaded == true">
    <div>
        <button class="btn btn-primary mt-2" routerLink="products/add">Add Product</button>
    </div>
    <div class="mb-3 mt-3">
        <label for="filterText" class="form-label">Product Search</label>
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search">
    </div>
    <div class="alert alert-success" *ngIf="filterText.length > 2 && filterStatus">
        {{filterText}} searched...
    </div>
    
    <table  class="table">
        <thead>
            <tr>
                <th>ID </th>
                <th>Product Name </th>
                <th>Category </th>
                <th>Price </th>
                <th>Vat Price</th>
                <th>Stock </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products | filterPipe:filterText" (click)="update(product)">
                <td>{{product.productId}}</td>
                <td>{{product.productName |uppercase }}</td>
                <td>{{product.categoryId}}</td>
                <td>{{product.unitPrice |currency }}</td>
                <td>{{product.unitPrice  |vatAdded:18 }}</td>
                <td>{{product.unitsInStock}}</td>
                <td><button (click)="addToCart(product)" type="button" class="btn btn-secondary">Add</button></td>
                <td><button routerLink="products/update/{{product.productId}}" type="button" class="btn btn-secondary">Update</button></td>
            </tr>
        </tbody>
    </table>
</div>
